services:
    prometheus:
      container_name: prometheus
      image: prom/prometheus
      ports:
        - "9090:9090"
      volumes:
        - prometheus-data:/prometheus
        - ./prometheus_config.yaml:/etc/prometheus/prometheus.yml
      restart: unless-stopped
      healthcheck:
       test: ["CMD-SHELL", "nc -vv localhost:9090 || exit 1"]
       interval: 30s
       timeout: 10s
       retries: 2
       start_period: 30s
       start_interval: 5s
      cpus: "0.50"
      hostname: prometheus-qa
      mem_limit: "1536M"
      pull_policy: "missing"
      stop_grace_period: 1m
      networks:
        - frontend

volumes:
  prometheus-data:

networks:
  frontend:
    name: frontend-monitoring