name: uptime_kuma
services:
  uptime_kuma:
    container_name: uptime_kuma
    image: louislam/uptime-kuma:1
    ports:
      - "${HOST_PORT}:3001"
    volumes:
      - uptime-kuma:/app/data
      - ${UPTIME_KUMA_KEY}:/app/data/docker-tls/uptime-kuma.key
      - ${UPTIME_KUMA_CERT}:/app/data/docker-tls/uptime-kuma.crt
      - ${ROOT_CA_CERT}:/app/data/docker-tls/ca.cert.pem
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UPTIME_KUMA_SSL_KEY: /app/data/docker-tls/uptime-kuma.key
      UPTIME_KUMA_SSL_CERT: /app/data/docker-tls/uptime-kuma.crt
      NODE_EXTRA_CA_CERTS: /app/data/docker-tls/ca.cert.pem
    cpus: "0.50"
    domainname: ${DOMAIN_NAME} 
    healthcheck:
      test: ["CMD-SHELL", "curl -fk https://localhost:3001 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 2
      start_period: 30s
      start_interval: 5s
    hostname: ${HOSTNAME} 
    mem_limit: "1536M"
    pull_policy: "missing"
    stop_grace_period: 1m

volumes:
  uptime-kuma:
